extends layout

block content 
  form(action='/new', method='POST')
    h1.title-form= title
    div.form-container
      h3 User: 
      input(type='text', name='user', value='')
    div.form-container
      h3 Message: 
      input(type='text', name='messageText', value='')
    input.button-submit(type='submit', value='Submit')  
    hr.hr-form
    button.button-return
      a(href="/") Return users list
